:root {
  /* Colors */
  --black: #000000;
  --grey: #494949;
  --button-color: #25a8ff;
  --button-hover: #1168a2;
  --blue-transparent: #25a8ff20;
  --green: #3dd600;
  --green-transparent: #3dd60020;
  --rating-color: #ffe100;
  --empty-rating: #dfdfdf;
  --footer: #f2f2f2;

  /* Font Size */
  --text-size: 16px;
  --small-title: 24px;
  --title-size: 56px;

  /* Spacing */
  --sec-top-padding: 2rem;
  --sec-padding: 100px;
  --px64: 64px;
  --px32: 32px;
  --px16: 16px;
  --px8: 8px;
}

.breadcrumbs {
  display: flex;
  gap: var(--px8);
  margin-top: var(--px16);
  font-size: var(--text-size);

  & a {
    color: var(--grey);

    &.selected {
      color: var(--button-color);
    }
  }
}

.shop-section {
  margin-top: var(--px64);
}

.shop-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.small-title {
  font-size: 20px;
}

.laptop-selection {
  display: flex;
  align-items: center;
  font-size: var(--text-size);
  gap: var(--px32);

  & .book-variants {
    display: flex;

    & a {
      padding: 10px;
      color: var(--black);
      border-radius: 8px;

      &.selected-book {
        color: var(--button-color);
        background-color: var(--blue-transparent);
      }
    }
  }
}

.column {
  display: flex;
  flex-direction: column;
  gap: 64px;
}

.laptop-image-shop {
  display: flex;
  align-items: center;
  user-select: none;
  gap: 32px;

  & svg {
    width: 50px;
    stroke-width: 1;
    cursor: pointer;
    transition: all 0.3s linear;
  }

  & img {
    width: 450px;
    height: 450px;
    border-radius: 16px;
  }

  &.index-pcs {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.index-box-shop {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: var(--px8);
  padding: 8px;
  overflow: hidden;
}

.image-shop {
  display: none;
  width: 100%;
  height: auto;
  transition: opacity 0.5s ease;
  opacity: 0;
}

.image-shop.active {
  display: block;
  opacity: 1;
}

.index-box-shop .dot,
.index-box-shop .full-dot {
  width: 12px;
  height: 12px;
}

.description {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: var(--text-size);
  gap: var(--px32);
  max-width: 380px;
}

.desc-box-shop {
  font-size: var(--text-size);
  display: flex;
  flex-direction: column;
  gap: var(--px8);
}

.rating {
  display: flex;
  flex-direction: row;
  gap: 4px;
  color: var(--rating-color);

  & svg {
    fill: #ffe100;
  }

  & .empty {
    fill: var(--empty-rating);
    color: var(--empty-rating);
  }
}

.desc-text {
  width: 380px;
  font-size: var(--text-size);
}

.delivery {
  display: flex;
  flex-direction: row;
  gap: var(--px8);
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  width: 232px;
  height: 32px;
  font-size: var(--text-size);
  background-color: var(--green-transparent);
  color: var(--green);
}

.delivery-estimation {
  margin-top: var(--px8);
  color: var(--black);
  font-size: var(--text-size);
}

.delivery-fee {
  background-color: var(--blue-transparent);
  color: var(--button-color);
}

.button-collection {
  display: flex;
  align-items: center;
  gap: var(--px32);

  & .button-primary {
    width: 272px;
  }
}

.quantity-btn {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-size: 12px;
  background-color: #ffffff;
  border: 1px solid var(--black);
  border-radius: 24px;
  width: 64px;
  height: 32px;
  cursor: pointer;

  & svg {
    width: 16px;
  }
}

.disclaimer {
  margin-top: var(--px64);
  font-size: 12px;
  text-align: center;
  padding: 10px;
}

/* ------------------------------- Mobile -------------------------------*/
@media screen and (max-width: 767px) {
  :root {
    /* Font Size */
    --text-size: 12px;
    --small-title: 24px;
    --title-size: 24px;

    /* Spacing */
    --sec-top-padding: 2rem;
    --sec-padding: 100px;
    --px64: 32px;
    --px32: 16px;
    --px16: 8px;
    --px8: 4px;
    --gap: 50px;
  }

  .layout-grid {
    margin: 0 2vw;
  }

  body {
    font-size: 8px;
  }

  .shop-section {
    margin-top: var(--px64);
  }

  .shop-content {
    flex-direction: column;
    align-items: center;
  }

  .laptop-selection {
    align-items: flex-start;
    flex-direction: column;
    font-size: 12px;

    & .book-variants {
      display: flex;
      flex-direction: row;
    }
  }

  .column {
    display: flex;
    flex-direction: column;
    gap: var(--gap);
  }

  .laptop-image-shop {
    display: flex;
    align-items: center;
    user-select: none;
    gap: 16px;

    & svg {
      width: 32px;
    }

    & img {
      width: 60vw;
      height: 60vw;
    }
  }

  .index-box-shop .dot,
  .index-box-shop .full-dot {
    width: 8px;
    height: 8px;
  }

  .sub-text {
    text-align: start;
  }

  .description {
    display: flex;
    flex-direction: column;
    font-size: 12px;
    gap: var(--px64);
    margin-left: 64px;
  }

  .desc-box-shop {
    font-size: var(--text-size);
    display: flex;
    flex-direction: column;
    gap: var(--px8);
  }

  .rating {
    display: flex;
    flex-direction: row;
    gap: 4px;
    color: var(--rating-color);

    & svg {
      fill: #ffe100;
    }

    & .empty {
      fill: var(--empty-rating);
      color: var(--empty-rating);
    }
  }

  .desc-text {
    width: 280px;
    font-size: var(--text-size);
  }

  .delivery {
    display: flex;
    flex-direction: row;
    gap: var(--px8);
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    width: 232px;
    height: 32px;
    font-size: var(--text-size);
    background-color: var(--green-transparent);
    color: var(--green);
  }

  .delivery-estimation {
    margin-top: var(--px8);
    color: var(--black);
    font-size: var(--text-size);
  }

  .delivery-fee {
    background-color: var(--blue-transparent);
    color: var(--button-color);
  }

  .button-collection {
    display: flex;
    align-items: center;
    gap: var(--px32);

    & .button-primary {
      width: 272px;
    }
  }

  .quantity-btn {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-size: 12px;
    background-color: #ffffff;
    border: 1px solid var(--black);
    border-radius: 24px;
    width: 64px;
    height: 32px;
    cursor: pointer;

    & svg {
      width: 16px;
    }
  }

  .disclaimer {
    margin-top: var(--px64);
    font-size: 12px;
    text-align: center;
    padding: 10px;
  }
}
