@import url('https://fonts.googleapis.com/css2?family=Istok+Web:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}

:root {
    /* Colors */
    --black: #000000;
    --grey: #494949;
    --button-color: #25A8FF;
    --button-hover: #1168A2;
    --rating-color: #ffe100;
    --empty-rating: #DFDFDF;
    --footer: #f2f2f2;

    /* Font Size */
    --text-size: 16px;
    --title-size: 56px;

    /* Spacing */
    --sec-top-padding: 2rem;
    --sec-padding: 100px;
    --px64: 64px;
    --px32: 32px;
    --px16: 16px;
    --px8: 8px;
}

html {
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: var(--empty-rating);
}

::-webkit-scrollbar-thumb {
    background: var(--button-color);
}

::-webkit-scrollbar-thumb:hover {
    background: var(--button-hover);
}

body {
    font-family: "Inter", serif;
    font-size: 16px;
    background: #ffffff;
}

a {
    text-decoration: none;
}

nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    font-size: var(--text-size);

    & a {
        text-decoration: none;
        color: var(--black);
        font-size: var(--text-size);
    }

    & :hover {
        color: var(--button-color);
    }
}

.layout-grid {
    margin: 0 10vw;
}

.logo {
    font-family: "Istok Web", serif;
    font-size: var(--px32);
}

.buy-btn {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    background: transparent;
    border: none;
    cursor: pointer;
    font-size: var(--text-size);

    &.buy-btn:hover {
        color: var(--button-color);
        fill: var(--button-color);
    }
}

.icon {
    width: 24px;
}

/* ------------------------------- Hero -------------------------------*/
.hero {
    margin-top: var(--sec-top-padding);
}

.text-content {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    & p {
        text-align: center;
    }
}

.title {
    font-size: var(--title-size);
    text-align: center;
}

.sub-text {
    font-size: var(--text-size);
    color: var(--grey);
}

.box-hero {
    margin-top: var(--px64);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.text-box {
    display: flex;
    flex-direction: column;
    gap: var(--px64);
    max-width: 280px;
    color: var(--grey);
    font-size: var(--text-size);
}

.wrap-box {
    display: flex;
    gap: var(--px32);

    & .icon {
        width: var(--px32);
    }
}

.button-box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: var(--px32);
    margin-top: var(--px32);
}

.button-primary, .button-varient {
    background-color: var(--button-color);
    color: #ffffff;
    border: none;
    padding: 12px 16px;
    border-radius: 30px;
    height: 48px;
    width: 180px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    transition: all 0.3s;
    font-size: var(--text-size);

    &.button-primary:hover {
        background: var(--button-hover);
    }
}

.button-varient {
    background-color: #ffffff;
    color: var(--button-color);
    border: 2px solid var(--button-color);

    &.button-varient:hover {
        background: var(--button-hover);
        color: #ffffff;
        border: 2px solid var(--button-hover);
    }
}

/* ------------------------------- Description -------------------------------*/
.description-section {
    margin-top: var(--sec-padding);
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.desc-content {
    display: flex;
    flex-direction: column;
    gap: 100px;
}

.desc-text-box {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: var(--px64);
}

.paragraphs {
    display: flex;
    flex-direction: column;
    gap: var(--px32);
    max-width: 580px;
}

/* ------------------------------- Specs -------------------------------*/
.specs-section {
    margin-top: var(--sec-padding);
    height: 100vh;
}

.specs-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.specs {
    max-width: 500px;
    gap: var(--px32);

    & .icon {
        width: 24px;
    }
}

.specs-button {
    margin-top: var(--px64);
}

/* ------------------------------- Processor -------------------------------*/
.processor-section {
    margin-top: var(--sec-padding);
    height: 60vh;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.prcs-box {
    gap: var(--px8);
    max-width: 380px;
}

.prcs-text-box {
    display: flex;
    flex-direction: column;
    gap: var(--px64);
}

/* ------------------------------- Compact -------------------------------*/
.compact-section {
    margin-top: var(--sec-padding);
    height: 100vh;
}

.compact-box, .compact-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    & .compact-content {
        margin-top: var(--px64);
        gap: var(--px64);
    }
}

/* ------------------------------- Carousel -------------------------------*/
.carousel-section {
    margin-top: var(--sec-padding);
    height: 100vh;
}

.carousel-box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    & h1 {
        max-width: 450px;
        text-align: start;
    }
}

.carousel {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    width: 100%;
    max-width: 850px;
    height: 500px;
    aspect-ratio: 16 / 9;
}

.box {
    width: 150%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.buy-button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: var(--px64);
}

.index-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: var(--px8);
    padding: 8px;
    overflow: hidden;
    margin-top: var(--px32);
}

.dot,
.full-dot {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    transition: transform 0.5s ease, background-color 0.5s ease;
}

.full-dot {
    background-color: var(--button-color);
    transform: scale(0.6);
}

.dot {
    background-color: var(--empty-rating);
    transform: scale(1);
}

.image img {
    width: 90%;
    object-fit: cover;
    animation: imageTransitionIn 3s linear;
}

#img1 {
    display: flex;
}

#img2 {
    display: none;
}

#img3 {
    display: none;
}

#img4 {
    display: none;
}

/* ------------------------------- Prefooter -------------------------------*/
.pre-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;

    & a {
        text-decoration: none;
    }

    & .logo {
        color: var(--black);
    }
}

.box-footer {
    display: flex;
    flex-direction: column;
    gap: var(--px32);
}

.pre-foot-par {
    gap: var(--px16);
}

/* ------------------------------- Footer -------------------------------*/
.footer {
    margin-top: var(--sec-padding);
    background-color: var(--footer);
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: var(--text-size);
}

.copyright {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 4px;
    color: var(--grey);
}

.icon-footer {
    width: 16px;
}







@media screen and (max-width: 767px) {
    :root {
        /* Font Size */
        --text-size: 12px;
        --title-size: 24px;
    
        /* Spacing */
        --sec-top-padding: 2rem;
        --sec-padding: 100px;
        --px64: 32px;
        --px32: 16px;
        --px16: 8px;
        --px8: 4px;
    }

    body {
        font-size: 8px;
    }

    .logo {
        font-size: 24px;
    }
}



@keyframes imageTransitionIn {
    0% {
        opacity: 0;
        filter: blur(4px);
        transform: translateX(100px);
    }

    10% {   
        opacity: 0.5;
        filter: blur(2px);
        transform: translateX(50px);
    }

    20%, 60%, 80% {
        opacity: 1;
        filter: blur(0);
        transform: translateX(0);
    }

    100% {
        opacity: 0;
        filter: blur(4px);
        transform: translateX(0px);
    }
}

/*
@keyframes imageTransitionIn {
    from {
        opacity: 0;
        filter: blur(4px);
        transform: translateX(100px);
    }

    to {
        opacity: 1;
        filter: blur(0);
        transform: translateX(0);
    }
}*/